.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  }
  /* .sticky {
    background: rgba(215, 241, 204, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  } */
  
  .navbar h3 {
    font-family: "Pacifico", cursive;
    font-size: 1.2em;
    margin-left: 20px;
    letter-spacing: 2.5px;
    font-weight: 300;
  }
  .logo-link {
    color: #002821;
    font-style: none;
    text-decoration: none;
  }
  .nav-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-icon {
    color: #000;
    font-size: 3em;
    padding: 5px;
    margin-right: 20px;
  }
  
  .cart-amount {
    font-size: 1.2em;
    color: #146356;
    position: absolute;
    left: 30px;
    top: 0;
    border: 1px solid white;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-amount p {
    position: relative;
  }
  
  .user-icon {
    border: none;
    background: none;
    font-size: 1.8em;
    color: #146356;
    margin-right: 20px;
    cursor: pointer;
  }
  