footer {
    position: relative;
    bottom: 0;
  }
  .footer-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
  }
  
  .footer {
    text-align: center;
    color: #fff;
    background-color: #146356;
    padding: 20px;
  }
  .footer p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .creator {
    text-align: center;
    grid-column: 1/4;
  }
  
  .creator {
    padding: 3px;
    margin: 20px;
  }
  
  .socail-icon {
    font-size: 2.5em;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 84px;
    text-align: center;
    position: relative;
    color: #fff;
    transition: 300ms;
    border-radius: 50%;
  }
  
  .socail-icon:hover {
    background-color: #fff;
    color: #000;
    transform: rotate(360deg);
  }
  